pre {
  background-color: #090909;
  padding: 5px;
}

.article-entry h1, 
.article-entry h2, 
.article-entry h3, 
.article-entry h4, 
.article-entry h5, 
.article-entry h6, 
.article-entry p, 
.article-entry ul {
  margin: 10px;
}
.article-entry h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 54px;
  font-weight: normal;
  color: #fc9;
}
.article-entry h2 {
  margin: 10px;
  font-size: 24px;
  font-weight: normal;
  text-decoration: underline;
  font-style: italic;
}
.article-entry a {
  color: #9482c9;
  text-decoration: none;
}

.article-entry a:hover {
  color: #bae;
  text-decoration: underline;
}

.article-entry hr {
  margin: 40px 0;
}

.article-entry em {
  text-decoration: underline;
  font-style: normal;
}
.article-entry ul {
  margin-top: 2px;
}
.article-entry ul li ul {
  padding-left: 20px;
}