<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>randards.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="randards.com">
    <meta property="og:url" content="http://randards.com/strats/index.html">
    <meta property="og:site_name" content="randards.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="randards.com">
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic|Orbitron:400,700' rel='stylesheet'
        type='text/css'>
    <script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { colorlinks: true, iconizelinks: true, renamelinks: false }</script>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>

<body>
    <div id="container">
        <div id="wrap">
            <header id="header">
                <div id="header-outer" class="outer">
                    <div id="header-title" class="inner">
                        <h1 id="logo-wrap">
                            <a href="./" id="logo">randards.com</a>
                        </h1>
                        <h2 id="subtitle-wrap">
                            <a href="./" id="subtitle">do you meet randy&#39;s standards?</a>
                        </h2>
                    </div>
                </div>
            </header>
            <div class="outer">
                <section id="main">
                    <div class="article-entry">
                        <h1>{{ title }}</h1>
                        {{ content }}
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>