<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">

  <title>strats</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Roboto:wght@400;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="//randards.com/randards.css">
    <script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { colorlinks: true, iconizelinks: true, renamelinks: false }</script>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    
</head>

<body>
    <header>
    <div class="group">
      <div class="header-container">
        <div class="logo">
          <a href="http://randards.com">
            <h1 class="warlock">randards.com</h1>
            <h2>do you meet randy's standards?</h2>
          </a>
        </div>
        <div class="title">
          Strats
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="group">
      <section id="main">
        <div class="article-entry">
            <h1>{{ title }}</h1>
            {{ content }}
        </div>
      </section>
    </div>
  </main>
</body>

</html>